xml/score-tree.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Types -->
    <xs:simpleType name="positive">
        <xs:restriction base="xs:positiveInteger">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="frac">
        <xs:attribute name="num" type="xs:integer" use="required"/>
        <xs:attribute name="den" type="positive" use="required"/>
    </xs:complexType>

    <!-- Time -->
    <xs:element name="hit">
        <xs:complexType>
            <xs:choice>
                <xs:element name="id" type="xs:string"/>
                <xs:sequence>
                    <xs:element name="onset" type="frac"/>
                    <xs:element name="duration" type="frac"/>
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="rhythm">
        <xs:complexType>
            <xs:choice>
                <xs:element name="id" type="xs:string"/>
                <xs:sequence>
                    <xs:element ref="hit" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="texture">
        <xs:complexType>
            <xs:choice>
                <xs:element name="id" type="xs:string"/>
                <xs:sequence>
                    <xs:element ref="rhythm" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>

    <!-- Frequency -->
    <xs:element name="pitch">
        <xs:complexType>
            <xs:choice>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="number" type="xs:integer"/>
            </xs:choice>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="chord">
        <xs:complexType>
            <xs:choice>
                <xs:element name="id" type="xs:string"/>
                <xs:sequence>
                    <xs:element ref="pitch" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="harmony">
        <xs:complexType>
            <xs:choice>
                <xs:element name="id" type="xs:string"/>
                <xs:sequence>
                    <xs:element ref="chord" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>

    <!-- Instruments -->
    <xs:element name="instrument">
        <xs:complexType>
            <xs:choice>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
            </xs:choice>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="group">
        <xs:complexType>
            <xs:choice>
                <xs:element name="id" type="xs:string"/>
                <xs:sequence>
                    <xs:element ref="instrument" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="instrumentation">
        <xs:complexType>
            <xs:choice>
                <xs:element name="id" type="xs:string"/>
                <xs:sequence>
                    <xs:element ref="group" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>

    <!-- Operators -->
    <xs:element name="product">
        <xs:complexType>
            <xs:choice>
                <xs:element name="id" type="xs:string"/>
                <xs:sequence>
                    <xs:element ref="texture"/>
                    <xs:element ref="harmony"/>
                    <xs:element ref="instrumentation" minOccurs="0"/>
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="parallel">
        <xs:complexType>
            <xs:choice>
                <xs:element name="id" type="xs:string"/>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:choice maxOccurs="unbounded">
                        <xs:element ref="product"/>
                        <xs:element ref="parallel"/>
                        <xs:element ref="concatenate"/>
                    </xs:choice>
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="concatenate">
        <xs:complexType>
            <xs:choice>
                <xs:element name="id" type="xs:string"/>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:choice maxOccurs="unbounded">
                        <xs:element ref="product"/>
                        <xs:element ref="parallel"/>
                        <xs:element ref="concatenate"/>
                    </xs:choice>
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>

    <!-- Score -->
    <xs:element name="score-tree">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string" minOccurs="0"/>
                <xs:element name="composer" type="xs:string" minOccurs="0"/>
                <xs:element name="tempo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="beat" type="frac"/>
                            <xs:element name="bpm" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="time-signature" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="numerator" type="xs:integer"/>
                            <xs:element name="denominator" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="anacrusis" minOccurs="0" type="frac"/>
                <xs:element name="hits" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="hit" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="rhythms" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="rhythm" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="textures" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="texture" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="pitches" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="pitch" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="chords" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="chord" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="harmonies" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="harmony" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="instruments" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="instrument" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="groups" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="group" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="instrumentations" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="instrumentation" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ast" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element ref="product"/>
                            <xs:element ref="parallel"/>
                            <xs:element ref="concatenate"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>